[submodule "submodules/KittiSeg"]
	path = submodules/KittiSeg
	url = https://github.com/Ozzyz/KittiSeg.git
[submodule "submodules/KittiBox"]
	path = submodules/KittiBox
	url = https://github.com/Ozzyz/KittiBox.git
[submodule "submodules/tensorflow-fcn"]
	path = submodules/tensorflow-fcn
	url = https://github.com/MarvinTeichmann/tensorflow-fcn
[submodule "submodules/TensorVision"]
	path = submodules/TensorVision
	url = https://github.com/TensorVision/TensorVision.git
[submodule "submodules/bdd-data"]
	path = submodules/bdd-data
	url = https://github.com/Ozzyz/bdd-data.git
